/* You can add global styles to this file, and also import other style files */
.center-div {
  margin: 0 auto;
  width: 75%
}

.fixed-width-button {
  width: 200px;
}

.error-text {
  color: red;
  font-size: 14px;
  height: 20px;
}
