<div class="container">

  <div style="padding-bottom: 30px">
    <app-navbar></app-navbar>
  </div>
  <div style="padding-bottom: 20px">
    <button *ngIf="isAdmin" (click)="activeView === userView ? cancel() : initAddUserView()" class="btn btn-primary">
      {{ activeView === userView ? 'Cancel' : 'Add user' }}
    </button>
  </div>

  <div [ngSwitch]="activeView">

    <div *ngSwitchCase="userView">
      <app-user-form
        [user]="user"
        [action]="userFormAction"
        (formButtonClicked)="onClientFormButtonClicked($event)"
      >
      </app-user-form>
    </div>

    <div *ngSwitchDefault>
      <app-user-list (editClicked)="onEditClicked($event)"></app-user-list>
    </div>

  </div>
</div>
