<div class="row">
  <div *ngIf="errorMsg" class="alert alert-danger" role="alert" style="margin-top: 20px; width: 100%">
    {{ errorMsg }}
  </div>
  <div class="col-lg-12">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Username</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users; let i = index;">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.username }}</td>
        <td>
          <button (click)="emitUser(user)" class="btn btn-primary">Edit</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
