
<div class="row">
  <div class="col-md-12 order-md-1">
    <div *ngIf="errorMsg" class="alert alert-danger" role="alert" style="margin-top: 20px">
      {{ errorMsg }}
    </div>
    <form *ngIf="ready" class="needs-validation" [formGroup]="userForm" (submit)="submitForm($event)">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstName">First name</label>
          <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="First name">
          <p class="error-text">{{ getFormControlError('firstName') }}</p>
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastName">Last name</label>
          <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="Last name">
          <p class="error-text">{{ getFormControlError('lastName') }}</p>
        </div>
      </div>

      <div *ngIf="this.action === 'add'" class="mb-3">
        <label for="username">Username</label>
        <input formControlName="username" type="text" class="form-control" id="username" placeholder="Username">
        <p class="error-text">{{ getFormControlError('username') }}</p>
      </div>

      <div *ngIf="this.action === 'add'" class="mb-3">
        <label for="password">Password</label>
        <input formControlName="password" type="text" class="form-control" id="password" placeholder="Password">
        <p class="error-text">{{ getFormControlError('password') }}</p>
      </div>

      <div class="mb-3">
        <label for="address">Address</label>
        <input formControlName="address" type="text" class="form-control" id="address" placeholder="1234 Main St">
        <p class="error-text">{{ getFormControlError('address') }}</p>
      </div>

      <div class="mb-3">
        <label for="country">Country</label>
        <select formControlName="countryCode" class="custom-select d-block w-100" id="country">
          <option [ngValue]="country.code" *ngFor="let country of countries"> {{ country.name }} </option>
        </select>
        <p class="error-text">{{ getFormControlError('countryCode') }}</p>
      </div>
      <hr class="mb-4">

      <button class="btn btn-primary btn-lg btn-block" type="submit">{{ this.action === 'add' ? 'Add client' : 'Edit client'}}</button>
    </form>
  </div>
</div>
