<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/dashboard">Dashboard</a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon" (click)="toggleNavBar()"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
    <div class="navbar-nav">
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
